<section>
<div class="container-fluid">
    <h1 >CONTACT US</h1>
    <div class="container">
          <div class="row text-center">
            <div class="col-sm-4">
              <div class="contact-detail-box">
                <i class="fa fa-3x fa-light fa-envelope fa-fade"></i>
                <h4>Get In Touch</h4>
                <abbr title="Phone">P:</abbr> (123) 456-7890<br>
                E: <a href="mailto:email@email.com" class="text-muted">email@email.com</a>
              </div>
            </div>
    
            <div class="col-sm-4">
              <div class="contact-us">
                <i class="fa fa-map-marker fa-3x text-colored fa-fade"></i>
                <h4>Our Location</h4>
    
                <address>
                ST.Joseph's University<br>
                Bengaluru<br>
              </address>
              </div>
            </div>
    
            <div class="col-sm-4">
              <div class="contact-us">
                <i class="fa-sharp fa-3x fa-solid fa-phone fa-fade"></i>
                 <h4>24x7 Support</h4>
    
                <p>Customer support</p>
                <h4 class="text-muted">1234 567 890</h4>
              </div>
            </div>
    
          </div>
         
    
    
          <div class="row">
            <div class="col-sm-6">
                    
                  </div>
            </div>
    
            
            <div class="card border">
                             
                <div class="card-header border-bottom">
                    <h4 class="card-header-title">Contact Us</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="contact-map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.1475185970426!2d77.59424751426371!3d12.962410718588362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15d9fddb0f15%3A0xdec852132523ceae!2sSt.%20Joseph&#39;s%20University!5e0!3m2!1sen!2sin!4v1675331333005!5m2!1sen!2sin" width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
               
                </div>
                 
                <div class="card-body">
                    <% if(messages.error) { %>
      
                        <div class="alert alert-danger my-3" role="alert" id="error"> <%= messages.error %> </div>

                          
                        <% } %>
                    <% if(messages.success) { %>
      
                        
                        <div class="alert alert-success" role="alert" id="error"> <%= messages.success %> </div>
                          
                        <% } %>
                        <form class="row g-3" id="" method="POST" action="/contact">
                            <div class="col-12">
                              <label class="form-label"></label>
                              
                            </div>
                                                          
                         
                              <div class="col-md-6">
                                <label class="form-label">Name</label>
                                <input type="text" id="fullname" name="name"  class="form-control" autocomplete="off">
                              </div>
                                                          
                              <div class="col-md-6">
                                <label class="form-label">Email address</label>
                                <input type="text" id="email" name="email"  class="form-control" >
                              </div>
                                                          
                              <div class="col-md-6">
                                <label class="form-label">Message</label>
                                <textarea class="form-control" id="message2" name="message" rows="9" cols="3" ></textarea>
                            </div>
                          
        
                             
                              <div class="col-12 text-end">
                                <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Submit</button>
                              </div>
                              
                          
                          </form>
                </div>
                
            </div>
             
                </div> 
    
              </form> 
            </div> 
    
          </div> 
              
        </div>
     </div>
</div>
</section>